SUPABASE_PROJECT_PICHINCHA=
SUPABASE_PROJECT_DEUNA=
SUPABASE_PROJECT_CARTERA=
SUPABASE_PROJECT_CLIENTES=

SUPABASE_DB_PICHINCHA=
SUPABASE_DB_DEUNA=
SUPABASE_DB_CARTERA=
SUPABASE_DB_CLIENTES=
SUPABASE_ACCESS_TOKEN=
